%head
	%title weclome
	%link{:href => "http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel => "stylesheet"}
	%link{:href => "offcanvas.css", :rel => "stylesheet"}

%body
	%div.container
		%div{:class => "row row-offcanvas row-offcanvas-right"}
			%div{:class => "col-xs-12 col-sm-9"}
				%div.jumbotron
					%h1 Hello world
					%p This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.
				%div.row
					#posts= partial 'posts/listitem', :collection => @posts, :as => @post
		%footer
			%p &copy; 2015 Company, Inc.
	%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
	%script window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
	%script{:src => "offcanvas.js"}
